html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #7b0828;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minute-marker {
  fill: transparent;
  stroke: #0f0e0e ;
  stroke-width: 7 ;
  stroke-dasharray: 0.2 0.8;
  stroke-dashoffset: 0.1;
}

.hour-marker {
  fill: transparent;
  stroke: #f0f0c9;
  stroke-width: 7 ;
  stroke-dasharray: 0.2 4.8;
  stroke-dashoffset: 0.1;
}

.hand {
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
}

.hand--thick {
  stroke-width: 7;
}

.hand--second {
  stroke: yellow;
}

.center {
  fill: #7b0828;
  stroke-width: 2;
  stroke: white;
}

.text {
  fill: #f0f0c9;
  font-family: "Arial", sans-serif;
  text-anchor: middle;
  cursor: pointer;
  user-select: none;
}